$WHITE: white;
$LIGHT_GREY: #BFBFBF;
$GREY: #858585;
$BLACK: #333333;
$RED: #FF6565;
$LIGHT_RED: #FFE2E2;
$YELLOW: #F4C403;
$LIGHT_YELLOW: #FDF9E5;
$GREEN: #71C87D;
$LIGHT_GREEN: #ECF7EE;
$BLUE: #72D7D4;
$LIGHT_BLUE: #E8FBFA;
$PURPLE: #7F51DF;
$LIGHT_PURPLE: #F0EAFB;
$BROWN: #6D4C41;
$LIGHT_BROWN: #EFEBE9